* {
  margin: 0;
  scroll-snap-type: y mandatory;
}

.App {
  background-color: #000000;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__video {
  width: 80%;
  max-width: 500px;
  height: 100vh;
  max-height: 600px;
  border: 2px solid #000000;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Hide scrollbar on chrome, safari and opera */
.app__video::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar on explorer, edge and firefox */
.app__video {
  -ms-overflow-style: none;
  scrollbar-width: none;
}